body{

margin:0;

padding:0;

font-family:Arial;

background:linear-gradient(#ffd9e8,#fff5f8);

overflow:hidden;

}

.fondo{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.contenedor{

background:white;

padding:50px;

border-radius:30px;

width:80%;

max-width:700px;

text-align:center;

box-shadow:0px 0px 30px rgba(255,182,193,.6);

}

.bebe{

font-size:100px;

animation:flotar 3s infinite;

}

h1{

color:#d96d9b;

font-size:45px;

}

h2{

color:#e79ab8;

}

p{

font-size:20px;

color:#666;

line-height:30px;

}

button{

background:#f8a9c5;

color:white;

padding:18px 35px;

border:none;

border-radius:30px;

font-size:22px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

@keyframes flotar{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}
